.headingStyle{
    padding-left:10px;
    margin-top:-25px;
    background-color:rgb(118, 146, 182);
    height:30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font: 15px Montserrat;
    letter-spacing: 0px;
    color: #002E6D;
    opacity: 1;
}
.InfoHeading{
    color:rgb(82, 123, 177);
}

.countryInfo{
    width: 150px;
    color:rgb(82, 123, 177)
}

.spanStyle{
    color: dimgrey; 
    font-size: 12px;
}